.contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contacts__title {
    padding-left: 12px;
}

.contacts_subtitle::after {
    position: absolute;
    left: 31px;
}

.contacts__description {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.contacts__icons {
    display: flex;
    gap: 25px;
}


.contacts__circle {
    position: relative;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.contacts__circle::before {
    content: '';
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba(255, 165, 1, 1);
    position: absolute;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__input {
    width: 100%;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 0;
    padding: 13px 20px;

    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}

.form__label {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    position: absolute;
    top: -14px;
    left: 18px;
    background-color: white;
    padding: 5px;
}

.form__field {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
}

.form__textarea {
    height: 143px;
}

.form__checkbox {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox__label {
    width: 220px;
}

.form__button {
    width: 219px;
    height: 45px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    align-self: center;
    margin-right: 0;
    margin-bottom: 50px;
}

.contacts__image {
    display: none;
    margin-bottom: 20px;
}

.contacts__image img {
    max-width: 100%;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 4px;
    display: none;
}
.form__input.invalid {
    border-color: red;
}

@media (min-width: 321px) {
    .contacts__content {
        border-top: none;
        display: flex;
        flex-wrap: wrap;
        padding-left: 52px;
        align-items: flex-start;
        justify-content: normal;
    }

    .contacts__description {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .contacts_subtitle::after {
        margin-top: 30px;
    }

    .contacts__image {
        display: block;
        margin-right: 68px;
    }

    .form__fields {
        display: flex;
        gap: 15px;
    }

    .contacts__info {
        flex-grow: 1;
    }

    .form__checkbox {
        display: none;
    }
    .form__button {
        align-self: normal;
    }
}