html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:focus, button:focus {
    outline: 2px solid #007BFF;
    outline-offset: 2px;
}


body {
    margin: 0;
    padding: 0;

    font-family: Poppins, sans-serif;
    color: rgba(0, 0, 0, 1);

    overflow-x: hidden;
}


