.content-container {
    padding-right: 10px;
    padding-left: 10px;
}

.developer {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/Background.png');
    background-size: cover;
    background-position: 58%;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.developer__name {
    font-size: 16px;
    font-weight: 700;
    padding-left: 13px;
    line-height: 24px;
    z-index: 1;
}


.developer__profession {
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
}


.button {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;

    width: 135px;
    height: 45px;
}

.button--primary {
    width: 135px;
    height: 45px;
    background-color: rgba(255, 165, 1, 1);
    margin-top: 32px;
    margin-right: 44px;
}


.button--outlined {
    background-color: transparent;
}

.burgerMenu-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.burgerMenu-container:hover {
    cursor: pointer;
}

.burgerMenu {
    width: 36px;
    height: 3px;
    background-color: rgba(21, 24, 18, 1);
    position: relative;
}

.burgerMenu::before {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: rgba(21, 24, 18, 1);
    position: absolute;
    top: -6px;
    right: 0;
}

.burgerMenu::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: rgba(21, 24, 18, 1);
    position: absolute;
    top: 6px;
    right: 0;
}

.social {
    display: none;
}


/* Styles for a menu */
.menu.open {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 2;
}

.menu__window {
    max-width: 345px;
    width: 80%;
    height: 100vh;
    background-color: rgba(255, 165, 1, 1);
    padding: 24px 20px;
    display: none;
}

.menu__window.open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu__list {
    list-style-type: none;
    justify-self: center;
}

.menu__item::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 1);
}

.menu__item {
    margin-bottom: 15px;
}

.menu__link {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.menu__contacts {
    display: flex;
    align-self: center;
    gap: 15px;
}

.menu__close {
    background-color: transparent;
    align-self: end;
}


@media (min-width: 320px) {
    .developer {
        background-position: 58%;
    }

    .developer__profession {
        font-size: 48px;
        font-weight: 700;
        line-height: 60px;
    }

    .content-container {
        width: 80%;
        max-width: 1140px;
        height: 100vh;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background-color: transparent;
        z-index: 1;
        display: flex;
        align-items: center;
        padding: 0;
    }

    .developer__content {
        border-bottom: none;
    }


    .webDeveloper__description {
        max-width: 532px;
    }


    .social {
        display: flex;
        gap: 100px;
        transform: rotate(-90deg);
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;

        position: absolute;
        left: -117px;
    }

    .social__icons {
        display: flex;
        gap: 15px
    }

    .social__icons::before {
        content: "";
        display: block;
        width: 2px;
        height: 70px;
        background-color: rgba(0, 0, 0, 1);
        transform: rotate(90deg);
        position: absolute;
        top: -24px;
        right: 134px;
    }


}