.content-container {
    padding-right: 10px;
    padding-left: 10px;
}
.webDeveloper {
    background-position: 58%;
    width: 100vw;
    height: 100vh;
    background-image: url('../images/Background.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.webDeveloper__name {
    font-size: 16px;
    font-weight: 700;
    padding-left: 13px;
    line-height: 24px;
    z-index: 1;
}

.circle-container {
    position: relative;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.circle-container::before {
    content: '';
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba(255, 165, 1, 1);
    position: absolute;
}


.webDeveloper__profession {
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
}


.button {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}

.primary__button {
    width: 135px;
    height: 45px;
    background-color: rgba(255, 165, 1, 1);
    margin-top: 32px;
    margin-right: 44px;
}


.button--outlined {
    background-color: transparent;
}

.burgerMenu-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.burgerMenu-container:hover {
    cursor: pointer;
}

.burgerMenu {
    width: 36px;
    height: 3px;
    background-color: rgba(21, 24, 18, 1);
    position: relative;
}

.burgerMenu::before {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: rgba(21, 24, 18, 1);
    position: absolute;
    top: -6px;
    right: 0;
}

.burgerMenu::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: rgba(21, 24, 18, 1);
    position: absolute;
    top: 6px;
    right: 0;
}

.socialNetworks__container {
    display: none;
}
.socialNetworks {
    display: none;
}

.column__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
}

.column__title span {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    display: flex;
    flex-direction: column;
}

/* Стили для крестика */
.burgerMenu.active {
    background-color: transparent;
}

.burgerMenu.active::before {
    transform: rotate(45deg) translate(5px, 5px);
}

.burgerMenu.active::after {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Стили для меню */
.menuWindow {
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    background-color: #f4f4f4;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: none; /* Скрыто по умолчанию */
}

.menuWindow.open {
    display: block; /* Показываем окно */
}



@media (min-width: 320px) {
    .webDeveloper {
        background-position: 58%;
    }

    .webDeveloper__profession {
        font-size: 48px;
        font-weight: 700;
        line-height: 60px;

    }

    .content-container {
        width: 80%;
        max-width: 1140px;
        height: 100vh;
        border: 1px solid rgba(0, 0, 0, 0.2);
        background-color: transparent;
        z-index: 1;
        display: flex;
        align-items: center;
        padding: 0;
    }

    .webDeveloper__content-container {
        border-bottom: none;
    }


    .webDeveloper__description {
        max-width: 532px;
    }


    .socialNetworks {
        display: flex;
        gap: 100px;
        transform: rotate(-90deg);
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;

        position: absolute;
        left: -117px;
    }

    .socialNetworks__icons {
        display: flex;
        gap: 15px
    }

    .socialNetworks__icons::before {
        content: "";
        display: block;
        width: 2px;
        height: 70px;
        background-color: rgba(0, 0, 0, 1);
        transform: rotate(90deg);
        position: absolute;
        top: -24px;
        right: 134px;
    }


}